.wp { width: 1024px; background-color: #FFF; }
.wp_bg { background: url(../image/shadow_body.png) repeat-y center top; }
body { background: url(../image/bg_body.jpg); }
#header { background: url(../image/shadow_header.png) repeat-x center bottom; height: 156px; }
#header a { color: #FFF; }
#navs { background: #FFF; height: 110px; }
#logo { width: 129px; height: 94px; background: url(../image/logo.jpg); margin-top: 10px; }
#intro { width: 144px; height: 26px; background: url(../image/btn_intro.jpg); margin: 35px 0 0 60px; }
#intro a { display: block; width: 50%; height: 100%; float: left; line-height: 26px; text-align: center; }
#share { width: 330px; float: right; line-height: 21px; _display: inline; margin: 20px 20px; }
#share span, #share a { color: #A7A7A7; }
#share span, #search { float: left; }
#share, #search { height: 21px; }
#search { width: 126px; background: url(../image/bg_search.jpg); _display: inline; margin-left: 10px; }
#search * { float: left; }
#s_key { background: none; border: none; height: 21px; width: 100px; }
#submit { background: none; border: none; width: 25px; height: 21px; cursor: pointer; }
#subnav { height: 40px; background: #EB5B5C; }
#fav a { display: block; background: #537DE7; width: 70px; text-align: center; margin: 0 5px; line-height: 26px; float: left; }
#nav { float: right; margin: 27px 13px 0 0; clear: none; height: 32px; }
#nav a { width: 80px; height: 22px; background: none; line-height: normal; }
#nav span, #nav a { color: #7E7E7E; float: left; }
#sub { margin-left: 800px; }
#sub a { line-height: 20px; }
#banner { float: right; width: 970px; height: 307px; margin: 4px 18px 30px; }
#SW { width: 189px; height: 64px; margin: 71px 0 0 34px; float: left; _display: inline; }
#SW a { display: block; width: 100%; line-height: 32px; vertical-align: middle; color: #B0B0B0; }
#SW a div { width: 18px; height: 2px; float: left; padding-left: 18px; margin-top: 14px; }
#SW a div span { display: block; background-color: #B0B0B0; width: 12px; height: 5px; }
#SW a:hover { color: #ED6566; }
#SW a:hover div span { background-color: #ED6566; }
#ct { }
#ct img { vertical-align: middle; }
#ct * { color: #414141; }
#products { padding-top: 1px; height: 202px; background: url(../image/bg_products.jpg); }
#flinks { line-height: 34px; border: 1px solid #CFCFCF; border-right: 0; border-left: 0; padding-left: 30px; }
#flinks span { color: #A36B13; }

.title { font-size: 18px; }
.splitline { border-top: 1px solid #D8D8D8; border-bottom: 1px solid #F4F4F4; }
.more { width: 84px; height: 23px; right: 20px; top: 10px; background: url(../image/bg_more.jpg); }
#ProductsClass, #ProductsShow, #AboutUs, #ContactUs, #Strength, #Success, #News, #Navs { position: relative; margin: 5px; float: left; _display: inline; }
#ProductsClass { width: 245px; }
#ProductsClass .title { background-image: url(../image/title_productsclass.jpg); }
#ProductsShow { width: 715px; height: 100px; margin: 36px 0px 0px 47px; }
#ProductsShow .title { background-image: url(../image/title_productsshow.jpg); }
#ProductsShow li { background: url(../image/bg_product.png); width: 79px; height: 77px; }
#ProductsShow li img { width: 59px; height: 59px; margin: 8px 0 0 9px; }
#AboutUs { width: 745px; height: 288px; }
#AboutUs .title { background-image: url(../image/title_aboutus.jpg); }
#ContactUs { width: 235px; }
#Strength { width: 990px; }
#Strength .title { background-image: url(../image/title_strength.jpg); }
#Success { width: 350px; margin-top: 15px; }
#Success .title { background-image: url(../image/title_success.jpg); }
#News { width: 375px; margin-top: 15px; }
#News .title { background-image: url(../image/title_news.jpg); }
#News .switch { position: absolute; top: 14px; left: 110px; }
#News .switch span { width: 60px; text-decoration: underline; color: #578EB3; }
#News .switch span.act { text-decoration: none; font-weight: bold; color: #444; }
#Navs { width: 230px; height: 250px; background: url(../image/nav_btn.jpg) no-repeat center center; margin: 5px 10px; }
#Navs a { position: relative; width: 230px; height: 54px; margin-top: 3px; margin-bottom: 10px; }

#ProductsClass ul { margin: 10px; }
#ProductsClass li { line-height: 30px; padding-left: 16px; background: url(../image/bg_list_sticker.jpg) no-repeat 5px center; border-bottom: 1px dashed #666; }
#ProductsClass li a { font-size: 18px; }
#ProductsShow li, #Strength li { float: left; margin: 10px; _display: inline; }
#ProductsShow li a img, #Strength li a img { /*border: 1px solid #D7D7D7;*/ }
#Strength img { width: 136px; height: 136px; vertical-align: middle; }
#ProductsShow li span, #Strength li span { display: block; margin: 2px auto; text-align: center; }
#AboutUs #youku, #AboutUs .intro { float: left; margin: 20px 10px; _display: inline; }
#AboutUs .intro { width: 450px; }
#AboutUs .intro p { text-indent: 2em; line-height: 26px; }
#ContactUs { background: url(../image/logo_contact.jpg) no-repeat center top; padding-top: 92px; }
#ContactUs ul.Info { width: 160px; }
#ContactUs li { line-height: 22px; }
.banner { float: left; height: 85px; width: 750px; background: url(../image/banner_mid.jpg) no-repeat right; margin-left: 10px; }
.wp_spc { float: right; margin-top: 85px; position: relative; width: 205px; margin-right: 20px; }
#QRCode { background: url(../image/qrcode.jpg); width: 205px; height: 100px; position: absolute; bottom: 2px; }
#Cases { margin: 0 auto; width: 340px; height: 196px; background: url(../image/logo_cases.jpg); }
#Cases a { position: relative; width: 91px; height: 30px; float: left; margin: 11px 11px 7px; _display: inline; }
#News ul { margin: 10px; }
#News li { line-height: 22px; padding-left: 16px; background: url(../image/bg_list_sticker.jpg) no-repeat 5px center; }
#News li a { _display: inline; _float: left; }
#News li span { float: right; color: #999; }
.mm p { text-indent: 2em; }

#sd { margin: 20px 0 0 0; background: url(../image/bg_sd.jpg) no-repeat; }
#mn { margin: 20px 15px 0 0; width: 740px; }
#mn #AboutUs { width: auto; }
#mn #AboutUs .intro { width: auto; }
#mn #AboutUs #ContactUs { background: none; }
#mn #News { width: 730px; margin-top: 5px; }

#footer { padding-bottom: 20px; border-bottom: 1px solid #EB5B5C; height: 120px; background: #FFF url(../image/logo.jpg) no-repeat 20px 40px; }
#Contact, #Messages, #Online { width: 300px; float: left; margin: 0 0 0 30px; position: relative; height: 140px; _display: inline; }
#Contact a { position: absolute; bottom: 2px; width: 100px; height: 30px; left: 2px; }
#Messages a.ol.text { right: 11px; width: 24px; top: 6px; position: absolute; }
#Messages a.ol.bottom { bottom: 2px; left: 4px; width: 113px; height: 30px; }
#Online a.ol { right: 13px; top: 5px; width: 51px; height: 14px; }

.links { clear: both; padding-top: 50px; padding-bottom: 0.2em; *display: inline-block; _display: inline-block; }
#footer span { margin: 0 5px; line-height: 22px; }

#info { float: left; _display: inline; margin: 10px 170px; height: 20px; }
#info p { line-height: 22px; }
#info span { color: #557597; }
#footer span { margin: 0; }