.wp { width: 1000px; }
body { background: #EAEAEA; }
#header { background: url(../image/bg_header.jpg) no-repeat center top; height: auto; }
#header a { color: #FFFFFF; }
#fav a { display: block; background: #537DE7; width: 70px; text-align: center; margin: 0 5px; line-height: 26px; float: left; }
#nav { float: right; margin: 27px 13px 0 0; }
#nav a { width: 80px; background: none; }
#banner { float: right; width: 970px; height: 307px; margin: 4px 16px 30px; }
#ct { }
#ct * { color: #414141; }

.title { display: block; overflow: hidden; text-indent: -999px; height: 38px; background-repeat: no-repeat; }
.splitline { border-top: 1px solid #D8D8D8; border-bottom: 1px solid #F4F4F4; }
.more { width: 84px; height: 23px; right: 20px; top: 10px; background: url(../image/bg_more.jpg); }
#ProductsClass, #ProductsShow, #AboutUs, #ContactUs, #Strength, #Success, #News, #Navs { position: relative; margin: 5px; float: left; _display: inline; }
#ProductsClass { width: 245px; }
#ProductsClass .title { background-image: url(../image/title_productsclass.jpg); }
#ProductsShow { width: 735px; }
#ProductsShow .title { background-image: url(../image/title_productsshow.jpg); }
#AboutUs { width: 745px; height: 288px; }
#AboutUs .title { background-image: url(../image/title_aboutus.jpg); }
#ContactUs { width: 235px; }
#Strength { width: 990px; }
#Strength .title { background-image: url(../image/title_strength.jpg); }
#Success { width: 350px; margin-top: 15px; }
#Success .title { background-image: url(../image/title_success.jpg); }
#News { width: 375px; margin-top: 15px; }
#News .title { background-image: url(../image/title_news.jpg); }
#News .switch { position: absolute; top: 14px; left: 110px; }
#News .switch span { width: 60px; text-decoration: underline; color: #578EB3; }
#News .switch span.act { text-decoration: none; font-weight: bold; color: #444444; }
#Navs { width: 230px; height: 250px; background: url(../image/nav_btn.jpg) no-repeat center center; margin: 5px 10px; }
#Navs a { position: relative; width: 230px; height: 54px; margin-top: 3px; margin-bottom: 10px; }

#ProductsClass ul { margin: 10px; }
#ProductsClass li { line-height: 30px; padding-left: 16px; background: url(../image/bg_list_sticker.jpg) no-repeat 5px center; border-bottom: 1px dashed #666; }
#ProductsClass li a { font-size: 18px; }
#ProductsShow li, #Strength li { float: left; margin: 10px; _display: inline; }
#ProductsShow li a img, #Strength li a img { /*border: 1px solid #D7D7D7;*/ }
#Strength img { width: 136px; height: 136px; vertical-align: middle; }
#ProductsShow li span, #Strength li span { display: block; margin: 2px auto; text-align: center; }
#AboutUs #youku, #AboutUs .intro { float: left; margin: 20px 10px; _display: inline; }
#AboutUs .intro { width: 450px; }
#AboutUs .intro p { text-indent: 2em; line-height: 26px; }
#ContactUs { background: url(../image/logo_contact.jpg) no-repeat center top; padding-top: 92px; }
#ContactUs ul.Info { width: 160px; }
#ContactUs li { line-height: 22px; }
.banner { float: left; height: 85px; width: 750px; background: url(../image/banner_mid.jpg) no-repeat right; margin-left: 10px; }
.wp_spc { float: right; margin-top: 85px; position: relative; width: 205px; margin-right: 20px; }
#QRCode { background: url(../image/qrcode.jpg); width: 205px; height: 100px; position: absolute; bottom: 2px; }
#Cases { margin: 0 auto; width: 340px; height: 196px; background: url(../image/logo_cases.jpg); }
#Cases a { position: relative; width: 91px; height: 30px; float: left; margin: 11px 11px 7px; _display: inline; }
#News ul { margin: 10px; }
#News li { line-height: 22px; padding-left: 16px; background: url(../image/bg_list_sticker.jpg) no-repeat 5px center; }
#News li a { _display: inline; _float: left; }
#News li span { float: right; color: #999999; }
.mm p { text-indent: 2em; }

#sd { margin: 0; }
#mn { margin: 0; width: 740px; }
#mn #AboutUs { width: auto; }
#mn #AboutUs .intro { width: auto; }
#mn #AboutUs #ContactUs { background: none; }
#mn #News { width: 730px; margin-top: 5px; }

#footer { background: url(../image/bg_footer.jpg) no-repeat center top; height: 365px; color: #FFFFFF; }
#footer * { color: #FFFFFF; }
#Contact, #Messages, #Online { width: 300px; float: left; margin: 0 0 0 30px; position: relative; height: 140px; _display: inline; }
#Contact a { position: absolute; bottom: 2px; width: 100px; height: 30px; left: 2px; }
#Messages a.ol.text { right: 11px; width: 24px; top: 6px; position: absolute; }
#Messages a.ol.bottom { bottom: 2px; left: 4px; width: 113px; height: 30px; }
#Online a.ol { right: 13px; top: 5px; width: 51px; height: 14px; }

.links { clear: both; padding-top: 50px; padding-bottom: 0.2em; *display: inline-block; _display: inline-block; }
#footer span { margin: 0 5px; line-height: 22px; }